---
layout: page
title: "Projects Archive"
---

<ul class="text-muted bookmarks">
  <li>&#10146; <a href="/">Home</a></li>
</ul>

{% assign projects = site.projects | where:'category', 'career' %}
<section id="archive">
  <h2>Career</h2>
  <ul class="this">
  {%for project in projects %}
      <li><time>{{ project.date | date:"%B %Y" }}</time>: 

      	{% if project.link %}
      		<a href="{{ project.link }}">
      	{% endif %}

      	{{ project.title }}

      	{% if project.link %}
      		</a>
      	{% endif %}

      	-

      	{{ project.content | remove: '<p>' | remove: '</p>' }}
      </li>
  {% endfor %}
  </ul>

{% assign projects = site.projects | where:'category', 'writing' %}

<section id="archive">
  <h2>Writing</h2>
  <ul class="this">
  {%for project in projects %}
      <li><time>{{ project.date | date:"%B %Y" }}</time>: 

      	{% if project.link %}
      		<a href="{{ project.link }}">
      	{% endif %}

      	{{ project.title }}

      	{% if project.link %}
      		</a>
      	{% endif %}

      	-

      	{{ project.content | remove: '<p>' | remove: '</p>' }}
      </li>
  {% endfor %}
  </ul>

</section>

{% assign projects = site.projects | where:'category', 'other' %}

<section id="archive">
  <h2>Other</h2>
  <ul class="this">
  {%for project in projects %}
      <li><time>{{ project.date | date:"%B %Y" }}</time>: 

      	{% if project.link %}
      		<a href="{{ project.link }}">
      	{% endif %}

      	{{ project.title }}

      	{% if project.link %}
      		</a>
      	{% endif %}

      	-

      	{{ project.content | remove: '<p>' | remove: '</p>' }}
      </li>
  {% endfor %}
  </ul>
