<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        
        <p class="lead">I'm a software developer who loves progressive politics and wonderful prose.</p>
        
        <div class="about-body col-lg-8 col-lg-offset-2 text-left">
          <p>During the day I work as a Software Architect at Chewy, which means I work with a variety of teams as they puzzle out some fascinating challenges related to our promotion engine and analytics platform. I’ve spent decades as a progressive activist, and about the same amount of time as a software developer. Language-wise, I've dabbled in many languages - currently Kotlin, but also C#, Java, PHP, and Node. My particular professional area of interest is API design and governance.</p>
          
          <p>I love reading, especially literary fiction, and have been doing my best to write a review of every single book I’ve read since 2013. Since I believe turnaround is fair play, I’ve dabbled in some writing projects of my own. I join book clubs the way some people check their phones.</p>
        </div> <!-- .about-body -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
